/* Color del fondo y de la letra (todo dentro de body lo hereda) */

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

/* Tema claro */

body.light {
    --color-bg: #FFFFFF;
    --color-text: #000000;
}

/* Tema oscuro */

body.dark {
    --color-bg: #000000;
    --color-text: #FFFFFF;
}

/* Div Avatar */

#divAvatar {
    text-align: center;
    padding-bottom: 1px;
}

#imgAvatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

/* Switch */

.lbl {
    display: inline-block;
    width: 65px;
    height: 33px;
    background-color: blue;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: .2s;
}

.lbl::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background: #EEE;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: .2s;
}

#switch:checked+.lbl::after {
    left: 36px;
}

#switch:checked+.lbl {
    background-color: aqua;
}

#switch {
    display: none;
}

/* Footer */

footer {
    text-align: center;
}